html,body{
    background-color: #9f047f;
}
header{
    width: 7.5rem;
    height: 8.54rem;
    background: url("../images/headerBg.png") center no-repeat;
    background-size: cover;
}
main>a:nth-child(1){
    display: block;
    margin: .46rem auto .26rem;
    width: 7.03rem;
    height: 3.61rem;
    background: url("../images/pic_01.png") center no-repeat;
    background-size: cover;
}
main>div:nth-child(2){
    position: relative;
    margin: 0 auto;
    width: 6.82rem;
    height: 7.68rem;
}
main>div:nth-child(2) a{
    position: absolute;
    width: 3.24rem;
    height: 3.7rem;
}
main>div:nth-child(2) a:nth-child(1){
    top: 0;
    left: 0;
    background: url("../images/pic_02.png") center no-repeat;
    background-size: cover;
}
main>div:nth-child(2) a:nth-child(2){
    top: 0;
    right: 0;
    background: url("../images/pic_03.png") center no-repeat;
    background-size: cover;
}
main>div:nth-child(2) a:nth-child(3){
    bottom: 0;
    left: 0;
    background: url("../images/pic_04.png") center no-repeat;
    background-size: cover;
}
main>div:nth-child(2) a:nth-child(4){
    bottom: 0;
    right: 0;
    background: url("../images/pic_05.png") center no-repeat;
    background-size: cover;
}
main>div:nth-child(3){
    margin: -.06rem auto;
    width: 7.39rem;
    height: 1.88rem;
    background: url("../images/subTitleBg.png") center no-repeat;
    background-size: cover;
}
main>div:nth-child(4){
    margin: 0 auto;
    width: 6.89rem;
    height: 5.35rem;
    background: url("../images/table.png") center no-repeat;
    background-size: cover;
}
main>p:last-child{
    margin: .26rem 0 .44rem .48rem;
    font-size: .25rem;
    line-height: .25rem;
    color: #ff86e1;
}
footer{
    padding: 0 .45rem .92rem .42rem;
}
footer>p{
    font-size: .24rem;
    line-height: .38rem;
    text-align: justify;
    color: #ffffff;
}
footer>p:nth-child(1){
    margin: 0 0 .24rem .06rem;
    font-size: .26rem;
    line-height: .26rem;
}